<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Product</title>
    <th:block th:replace="@{layout/layoutClient} :: link-bootstrap"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-main-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-base-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-font-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-rob-css"></th:block>
</head>
<body class="app">
<th:block th:replace="@{layout/layoutClient} :: head_top"></th:block>
<div class="app__container">
    <nav aria-label="breadcrumb " class="product">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"><a style="color: #000; text-decoration: none;" th:href="@{/}" >Trang chủ</a></li>
            <li class="breadcrumb-item active"><a style="color: #000; text-decoration: none;" th:href="@{/product}" >Cửa hàng</a></li>
            <li class="breadcrumb-item active "><strong>Chi tiết sản phẩm</strong></li>
        </ol>
    </nav>
    <div class="row py-5 g-5 shadow" style="padding: 0px 210px 30px 210px;">
        <!-- image thumb -->
        <div class="col-12 col-lg-6 ">
            <img th:src="${product.urlImageThumbnail}" class="m-1 w-100 sliderMainImage large-image" data-bs-toggle="model" data-bs-target="#imageModel"/>
            <ul class="list-group list-group-horizontal ">
                <li class="list-group-item border-0 ">
                    <img th:src="${product.urlImageThumbnail}" th:alt="hinh" width="60px" class="m-1 sliderThumb selected-image"/>
                </li>
                <li class="list-group-item border-0" th:each="image : ${product.imageList}">
                    <img th:src="${image}" th:alt="hinh" width="60px" class="m-1 sliderThumb"/>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-6">
            <h2 id="productName"  th:text="${product.name}"></h2>
            <small class="text-muted">Levent</small>
            <h4 class="my-4 product_price"><span  id="price" th:text="${product.price}"> </span></h4>
            <h4 class="my-4 "><span  id="cate" th:text="${product.productType.name +' - '+ product.category.name}"> </span></h4>
            <td sec:authorize="hasAnyAuthority('ADMIN','USER')">
            <div class="d-grid my-4">
                <a href="" class="btn btn-lg btn-dark">
                    Thêm vào giỏ hàng
                </a>
            </div>
            </td>
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Mô tả</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="accordion-body text-truncate" th:text="${product.description}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid my-4">
                <a href="/" class="btn btn-lg btn-danger">
                    Tiếp tục mua sắm
                </a>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="@{layout/layoutClient} :: footer"></th:block>
<script src="/js/toVND.js"></script>
</body>
</html>
<style>
    .selected-image {
        border: 2px solid whitesmoke; /* Thay đổi màu sắc và độ dày đường viền tùy ý */
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out; /* Thay đổi màu sắc và độ mờ của hiệu ứng box-shadow tùy ý */
    }
</style>
<script>
    // Lấy phần tử hình ảnh chính
var mainImage = document.querySelector('.sliderMainImage');

// Lấy tất cả các hình ảnh thu nhỏ
var thumbnailImages = document.querySelectorAll('.sliderThumb');

// Lặp qua từng hình ảnh thu nhỏ và thêm một trình lắng nghe sự kiện click
thumbnailImages.forEach(function(thumbnailImage) {
    thumbnailImage.addEventListener('click', function(event) {
        // Ngăn chặn hành động mặc định của liên kết
        event.preventDefault();

        // Xóa lớp CSS 'selected-image' khỏi tất cả các hình ảnh thu nhỏ
        thumbnailImages.forEach(function(image) {
            image.classList.remove('selected-image');
        });

        // Thêm lớp CSS 'selected-image' vào hình ảnh thu nhỏ được chọn
        this.classList.add('selected-image');

        // Đặt giá trị 'src' của hình ảnh chính thành giá trị 'src' của hình ảnh thu nhỏ được chọn
        mainImage.setAttribute('src', this.getAttribute('src'));
    });
});
</script>
