<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <th:block th:replace="@{layout/layoutClient} :: link-bootstrap"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-main-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-base-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-font-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-rob-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: script-jquery"></th:block>

</head>
<body class="app">
<th:block th:replace="@{layout/layoutClient} :: head_top"></th:block>
<div class="app__container pb-5">
    <nav aria-label="breadcrumb " class="product">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"><a style="color: #000; text-decoration: none;" th:href="@{/home}" >Trang chủ</a></li>
            <li class="breadcrumb-item active "><strong>Cửa hàng</strong></li>
        </ol>
    </nav>
    <p>
        <select class="select" style="margin-left: 30px;" id="category" name="category.id" onchange="redirectToCategory()">
            <option value="">Lọc sản phẩm</option>
            <option th:each="category : ${categories}" th:value="${category.name}"
                    th:text="${category.name}"></option>
        </select>
    </p>
    <script>
    function redirectToCategory() {
        // Lấy giá trị của tùy chọn đã chọn
        var selectedCategory = document.getElementById("category").value;

        // Tạo đường dẫn mới cho trang web bằng cách kết hợp "/product/category/" với tên danh mục đã chọn
        var newUrl = "/product/cate/" + selectedCategory;

        // Chuyển hướng trang web đến đường dẫn mới
        window.location.href = newUrl;
    }
</script>

    <div class="container">
        <div class="row gy-3" >
            <div class="col-4 " th:each="product: ${products}">
                <div class="card shadow">
                    <a th:href="@{/product/view/{id}(id=${product.id})}" style="text-decoration:none; color:black;">
                        <img style="height: 363px" th:src="${product.urlImageThumbnail}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.name}"></h5>
                            <p class="card-text text-truncate " th:text="${product.description}"></p>
                            <h5 class="card-text text-danger m-1 product_price" th:text="${product.price}">VNĐ</h5>
                            <a th:href="@{/cart/add(id=${product.id},imageList=${product.urlImageThumbnail},name=${product.name},price=${product.price}, quantity=1)}"
                               class="btn btn-lg btn-dark" >Thêm vào giỏ hàng</a>
                        </div>
                    </a>
            </div>
        </div>
    </div>
</div>
<script src="/js/toVND.js"></script>

<th:block th:replace="@{layout/layoutClient} :: footer"></th:block>
</div>
</body>
</html>
