<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <th:block th:replace="@{layout/layoutClient} :: link-bootstrap"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-main-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-base-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-font-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-rob-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: script-jquery"></th:block>

</head>
<body class="app">
<th:block th:replace="@{layout/layoutClient} :: head_top"></th:block>
<div class="app__container pb-5">
    <nav aria-label="breadcrumb " class="product">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"><a style="color: #000; text-decoration: none;" th:href="@{/home}" >Trang chủ</a></li>
            <li class="breadcrumb-item active "><strong>Cửa hàng</strong></li>
        </ol>
    </nav>
    <div class="container">
        <div class="row gy-3" >
            <div class="col-4 " th:each="product: ${products}">
                <div class="card shadow">
                    <a  th:href="@{/product/view/{id}(id=${product.id})}" style="text-decoration:none; color:black;">
                        <img style="height: 363px" th:src="${product.urlImageThumbnail}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.name}"></h5>
                            <p class="card-text" th:text="${#strings.length(product.description) > 20 ?
                            #strings.substring(product.description, 0, 20) + '...' : product.description}"></p>
                            <h5 class="card-text text-danger m-1 product_price" th:text="${product.price}">  VNĐ</h5>
                            <a th:href="@{/cart/add(id=${product.id},imageList=${product.urlImageThumbnail},name=${product.name},price=${product.price}, quantity=1)}"
                               class="btn btn-lg btn-dark">Thêm vào giỏ hàng</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/toVND.js"></script>
<th:block th:replace="@{layout/layoutClient} :: footer"></th:block>
</body>
</html>
