<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security"
      lang="en">
<td sec:authorize="!hasAnyAuthority('USER')" th:remove="tag">
<head th:replace="@{layout/layoutAdmin} :: header(Levent-Admin)">
</head>
<body class="sb-nav-fixed">
<nav th:replace="@{layout/layoutAdmin} :: header_top"></nav>
<div id="layoutSidenav">
    <div th:replace="@{layout/layoutAdmin} :: menu"></div>
    <div id="layoutSidenav_content">

        <div>
            test
        </div>

        <footer th:replace="@{layout/layoutAdmin} :: footer"></footer>
    </div>
</div>
</body>
</td>
</html>