* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 44px;
    right: 0;
    left: 0;
    height: 138px;
    background-color: var(--white-color);
    z-index: 1;
}
.header_navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index:1;
}
.header__nav--top{
    background-color: var(--black-color);
    display: flex;
    justify-content: space-between;
    height: 44px;
    border-bottom: 5px;
    align-items: center;
}
.header_navbar_items,
.header__navbar-icon-link{
    font-size: 14px;
    color: var(--white-color);
    text-decoration: none;
    list-style: none;
    font-weight: 150;

}
.header_navbar_list{

    display: inline-block;
    list-style: none;
}
.header_navbar_icon-link{
    font-size: 14px;
}
.Host__Store{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.header__nav_bot{
    margin: 30px;
    border-top:1px solid #757575 ;
    border-bottom:1px solid #757575 ;
    font-weight: 300;
}
.header__nav_bot-list{
    display: flex;
    justify-content: space-around;
    padding: 11px 0 0px;
}
.header__nav_bot-item{
    display: inline-block;
}
.header__nav_bot-link{
    text-decoration: none;
    list-style: none;
    font-size: 17px;
    font-weight: 300;
    color: var(--black-color);
}
.header__nav_bot-link-sp{
    text-decoration: none;
    list-style: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--black-color);
    font-weight: 400px;
}
.header__nav_bot-link:hover{

    color: rgba(0, 0, 0, 0.5);
}
.header__nav_bot-sale{
    color: red;
}
.header__nav_bot-flex{
    display: flex;

}
.header__search-select-icon{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 4px;
}
.icon__function_list{
    padding: 0 35px;
}
.icon__function_items{
    font-size: 20px;
    margin-left: 32px;
    cursor: pointer;
}
.icon__function_items-user{
    position: relative;
}
.icon__function_items-user:hover .header__navbar-user-menu{
    display: block;
}
.icon__function_items_bag{
    position: relative;
}
.icon__function_items_bag:hover .cart{
    display: block;
}
.icon__function_items_bag{

}
.app__container{
    margin-top:200px;
    padding: 0 7px;
}
.cart {
    position: absolute;
    display: none;
    z-index: 1;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    right: -30px;
    top: calc(100% + 18px);
    background-color: var(--white-color);
}
.cart::before{
    content: "";
    position: absolute;
    right: 20px;
    top: -30px;
    border-width: 17px 18px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    cursor: pointer;
}
.cart h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    margin-right: 10px;
}

.item-details h3 {
    margin: 0;
    font-size: 16px;
}

.item-details p {
    margin: 0;
}

.remove-item {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: auto;
    cursor: pointer;
}

.cart-total h3 {
    margin: 0;
    font-size: 16px;
    text-align: right;
  }

.checkout-button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.header__navbar-user-menu{
    position: absolute;
    padding-left: 0;
    list-style: none;
    width: 100px;
    border-radius: 2px;
    right: -8px;
    top: calc(100% + 18px);
    background-color: var(--black-color);
    display: none;
}
.header__navbar-user-item-link{
    text-decoration: none;
    color: var(--white-color);
}
.header__navbar-user-item{
    font-size: 1.8rem;
    padding: 8px 10px;
    font-weight: 350;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header__navbar-user-item:hover{
    background-color: #383636;
}
.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    right: 0px;
    top: -30px;
    border-width: 17px 18px;
    border-style: solid;
    border-color: transparent transparent var(--black-color) transparent;
    cursor: pointer;
}
.icon__function_itemss{
    cursor: pointer;
    font-size: 20px;
}
.icon__function_search{
    display: inline-flex;
    align-items: center;
}
.icon__function_search-btn{
    margin-right: 15px;
}
.header__search-input{
    width: 200px;
    height: 30px;
}
.product{
    display: block;
    margin-left: 30px;
    height: 50px;
}
.product_top{
    font-size: 12px;
    font-weight: 200;
}

.footer{
    margin-bottom: 5px;
    margin-top: 50px;
    background-color: var(--white-color);
}
.footer__grid{
    display: flex;
    justify-content: space-around;
    border-top: 3px solid #d4d4d4;
    padding-top: 36px;
}
.footer__grid_namecol{
    font-size: 20px;
    color: var(--black-color);
}
.footer__grid_item{
    font-size: 16px;
    list-style: none;
    font-weight: 300;
    padding-top: 16px;
    color: var(--black-color);
}
.footer__list-item-link{
    text-decoration: none;
    color: var(--black-color);
}
.footer__bottom{
    background-color: #f5f5f5;
    margin-top: 30px;
}
.testcode{
    display: flex;
    justify-content: center;
    padding: 6px 0;
    margin-top: 30px;
}
.iamadd__text{
    padding: 0 25px 0;
    border-right: 1px solid rgba(0,0,0,0.09);
}
.cont__Picap img{
    width: 100%;
}
.cont__Picap video{
    width: 100%;
}
.iamadd__text:last-child {
    border-right: none;
}
.iamadd__text-test{
    font-size: 14px;
    color: #757575;
    text-decoration: none;
    font-weight: 300;
}
.footer__text{
    display: flex;
    justify-content: center;
    color: #757575;
    padding-bottom: 6px ;
    font-size: 12px;
    font-weight: 300;
}
.cart {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
  }

  .cart h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .cart-item img {
    margin-right: 10px;
  }

  .item-details h3 {
    margin: 0;
    font-size: 16px;
  }

  .item-details p {
    margin: 0;
  }

  .remove-item {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: auto;
    cursor: pointer;
  }

  .cart-total h3 {
    margin: 0;
    font-size: 16px;
    text-align: right;
  }

  .checkout-button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
  }
  .cont__top{
    display: block;
  }
  .cont__top_list{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:0;
  }
  .cont__top_item{
    font-size: 14px;
    font-weight: 600;
  }
  .cont__top__list_item{
    padding-top: 50px;
    font-size: 34px;
    font-weight: 200;
    opacity: 0.5;
  }
  .cont_pic_1{
    padding-top: 50px;
    width: 100%;
  }
  .cont__text{
      display: flex;
      justify-content: center;

  }
  .cont__text_vb{
      height: 50px;
      font-size: 20px;
      margin-bottom: 65px;
      display: inline-flex;
      align-items: center;
      font-weight: 550;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .cont__medium_text{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .cont__medium_list{

  }
  .cont__medium_list_one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .cont__medium_list_two{
    width: 50%;
  }
  .cont__medium_item{
    padding: 0px 155px 0px 155px;
  }
  .header__nav_bot-item{
    position: relative;
  }
  .header__search-select-icon{
    position: relative;
  }
  .header__nav_bot-flex:hover .header__search-option{
    display: block;
  }
  .header__search-option{
    position: absolute;
    cursor: pointer;
    display: none;
    list-style: none;
    right: 0;
    background-color: #f5f5f5;
    z-index: 1;
    width: 130px;
    top: calc(100% + 9.5px);

    box-shadow: 0px 1px 3px #e0e0e0;
  }
  .header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 26px;
    position: absolute;
    top: -20px;
    left: 0;

}
.header__search-option-item{
    font-size: 14px;
    padding-left: 8px;
    line-height: 3.5rem;
}
.header__search-option-item:hover {
    background-color: rgb(235, 235, 235);
}