<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error 404 - Page not found</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Error 404 - Page not found</h1>
        <p>The page you are looking for does not exist or you do not have permission to access it.</p>
    </div>
</div>

<!-- Link to Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>