<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      lang="en">
<tr sec:authorize="hasAnyAuthority('ADMIN')">
<head th:replace="@{layout/layoutAdmin} :: header(Levent-Admin)">
</head>
<body class="sb-nav-fixed" style="background-color: whitesmoke;">
<nav th:replace="@{layout/layoutAdmin} :: header_top"></nav>
<div id="layoutSidenav">
    <div th:replace="@{layout/layoutAdmin} :: menu"></div>
    <div id="layoutSidenav_content">

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"> <a class="nav-link" style="display: inline-block;" th:href="@{/admin}">Home</a> </li>
            <li class="breadcrumb-item active"> <a class="nav-link" style="display: inline-block;" th:href="@{/admin/products}">Quản lý sản phẩm</a> </li>
        </ol>
        <p>
            <a class="btn btn-dark m-1" th:href="@{/admin/product/add}">Tạo Mới</a>
        </p>
        <div id="message"></div>

        <table class="table rounded shadow " style="background-color: white; width:98%">
            <thead>
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th scope="col">Hình</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Loại sản phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá</th>
                <th scope="col">Tồn kho</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Đơn vị tính</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="records_table">

            <tr th:each="product: ${products}">
                <th class="text-center" scope="row" th:text="${product.id}"></th>
                <td>
                    <img th:src="${product.urlImageThumbnail}" alt="hinh thumnail" height="60px" class="shadow-sm">
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <h6 class="" th:text="${product.name}"></h6>
                    </div>
                </td>
                <td th:text="${product.productType.name +' - '+ product.category.name}"></td>
                <td class="text-truncate" style="max-width: 160px;">
                    <span th:text="${product.description}"></span>
                </td>
                <td class="product_price" th:text="${product.price}"></td>
                <td th:text="${product.quantityStock}"></td>
                <td th:switch="${product.quantityStock}">
                    <span th:case="0" class="badge rounded-pill bg-danger">Out Stock</span>

                    <span th:case="*" class="badge rounded-pill bg-dark">In Stock</span>
                </td>
                <td th:text="${product.unit}"></td>
                <td>
                    <a class="text-decoration-none text-dark" th:href="@{/admin/product/{id}(id=${product.id})}">Chi tiết</a> |
                    <a class="text-decoration-none text-danger delete-product" th:attr="data-product-id=${product.id}" th:href="@{#}">Xóa</a>
                </td>
            </tr>
            </tbody>
        </table>


        <footer th:replace="@{layout/layoutAdmin} :: footer"></footer>
    </div>
</div>
<script src="/js/toVND.js"></script>

</body>
</tr>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('a.delete-product').click(function(event) {
      event.preventDefault();
      var productID = $(this).data('product-id');
      var confirmation = confirm('Are you sure you want to delete this product?');
      if (confirmation) {
        $.ajax({
          type: 'DELETE',
          url: 'http://localhost:8080/product/delete/' + productID,
          success: function(response) {
            window.location.href = '/admin/product/list';
            $('#message').html('<div class="alert alert-success">Product deleted successfully</div>');
          },
          error: function(xhr, status, error) {
            $('#message').html('<div class="alert alert-danger">Error deleting product: ' + error + '</div>');
          }
        });
      }
    });
  });
</script>
