<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{layout/layoutAdmin} :: header(Levent-Admin)">

</head>
<body class="sb-nav-fixed"  style="background-color: whitesmoke;">
<nav th:replace="@{layout/layoutAdmin} :: header_top"></nav>
<div id="layoutSidenav">
    <div th:replace="@{layout/layoutAdmin} :: menu"></div>
    <div id="layoutSidenav_content">
        <!--main-->
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"> <a class="nav-link" style="display: inline-block;" th:href="@{/admin}">Home</a> </li>
            <li class="breadcrumb-item"> <a class="nav-link" style="display: inline-block;" th:href="@{/orders}">Quản lý đơn hàng</a> </li>
            <li class="breadcrumb-item active"> <a class="nav-link" style="display: inline-block;" >Chi tiết đơn hàng</a> </li>

        </ol>
        <div class="row g-3 px-5 shadow mx-5 mb-5" style="background-color: white;" >
            <div class="col-md-6" >
                <label class="form-label" >Thông tin khách hàng:</label>
                <div class="form-control" >
                    <div class="row g-3 "  >
                       <div class="col-md-12">
                           <label class="form-label" >Tên:</label>
                           <input class="form-control" th:value="${orders[0].orders.user.name}" readonly>
                       </div>
                        <div class="col-md-6">
                            <label class="form-label" >Email:</label>
                            <input class="form-control" th:value="${orders[0].orders.user.email}" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" >Số điện thoại:</label>
                            <input class="form-control" th:value="${orders[0].orders.user.phoneNumber}" readonly>
                        </div>
                        <div class="col-md-8">
                            <label class="form-label" >Địa chỉ:</label>
                            <input class="form-control" th:value="${orders[0].orders.user.address}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" >Tỉnh / Thành phố:</label>
                            <input class="form-control" th:value="${orders[0].orders.user.location.name}" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" >Quận / Huyện:</label>
                            <input class="form-control" th:value="${orders[0].orders.user.district}" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" >Phường / Xã:</label>
                            <input class="form-control" th:value="${orders[0].orders.user.ward}" readonly>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label" >Thông tin sản phẩm:</label>
                <div class="form-control"  >
                    <div class="row g-3 " th:each="detail: ${orders}">
                        <div class="col-md-2">
                            <div class="form-label"></div>
                            <img class="form-control" th:src="${detail.product.urlImageThumbnail}">
                        </div>
                        <div class="col-md-10 row g-3">
                            <div class="col-md-4">
                                <div class="form-label"> Tên:</div>

                                <input class="form-control" th:value="${detail.product.name}" readonly>
                            </div>
                            <div class="col-md-4">
                                <div class="form-label">Giá</div>

                                <div class="form-control product_price" th:text="${detail.product.price}" ></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-label">Số lượng:</div>

                                <input class="form-control" th:value="${detail.quantity}" readonly>
                            </div>
                        </div>

                        <!-- Hiển thị thông tin chi tiết của đối tượng -->

                        <!-- Lưu trữ id của đối tượng hiện tại -->
                        <div th:with="temp=${detail.orders.id}"></div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <a  type="submit" class="btn btn-dark mb-3"  th:href="@{/admin/product}">Xác nhận đơn hàng</a>
            </div>
            <div class="col-md-6 mb-2">
                <div class="form-label " th:if="${orders[0].orders.id != temp}">Tổng tiền:</div>
                <div class="form-control product_price" th:text="${orders[0].orders.totalPrice}" ></div>
            </div>
        </div>
        <div id="message"></div>
        <!--main-->
        <footer th:replace="@{layout/layoutAdmin} :: footer"></footer>
    </div>
</div>
<script src="/js/toVND.js"></script>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
