<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Levents</title>
    <th:block th:replace="layout :: link-main-css"></th:block>
    <th:block th:replace="layout :: link-base-css"></th:block>
    <th:block th:replace="layout :: link-font-css"></th:block>
    <th:block th:replace="layout :: link-rob-css"></th:block>
    <th:block th:replace="layout :: link-bootstrap"></th:block>
</head>
<body class="app">
    <th:block th:replace="layout :: head_top"></th:block>
    <div class="app__container">
        <div class="cont__Picap">
            <img th:src="@{/img/1920x760-1920x988.png}" alt="">
        </div>
        <!--danh sach san pham-->
        <div class="container">
            <div class="row gy-3" >
                <div class="col-4 ">
                    <div class="card shadow">
                        <a th:href="@{/product/detail}" style="text-decoration:none; color:black;">
                            <img th:src="@{/img/4jpg.jpg}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text"> @item.Mota</p>
                                <h5 class="card-text text-danger m-1"> @item.Price.ToString("#,##0") VNĐ</h5>
                                <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-lg btn-dark">Thêm vào giỏ hàng</a>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-4 ">
                    <div class="card shadow">
                        <a th:href="@{/product/detail}" style="text-decoration:none; color:black;">
                            <img th:src="@{/img/4jpg.jpg}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Sản phẩm 2</h5>
                                <p class="card-text"> Mô tả 2</p>
                                <h5 class="card-text text-danger m-1"> @item.Price.ToString("#,##0") VNĐ</h5>
                                <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-lg btn-dark">Thêm vào giỏ hàng</a>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-4 ">
                    <div class="card shadow">
                        <a th:href="@{/product/detail}" style="text-decoration:none; color:black;">
                            <img th:src="@{/img/4jpg.jpg}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Sản phẩm 3</h5>
                                <p class="card-text"> Sản phẩm 3</p>
                                <h5 class="card-text text-danger m-1"> @item.Price.ToString("#,##0") VNĐ</h5>
                                <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-lg btn-dark">Thêm vào giỏ hàng</a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont__text">
            <span class="cont__text_vb">Cách chúng tôi tạo ra 1 chiếc áo thun</span>
        </div>
        <div class="cont__Picap">
            <video autoplay loop muted>
                <source th:src="@{/img/low-20mb-test-.mp4}" type="video/mp4">
            </video>
        </div>
    </div>
    <th:block th:replace="layout :: footer"></th:block>
</div>
</body>
</html>