<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>PetStore</title>
    <th:block th:replace="@{layout/layoutClient} :: link-bootstrap"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-main-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-base-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-font-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-rob-css"></th:block>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="app">
<th:block th:replace="@{layout/layoutClient} :: head_top" class="fixed-header"></th:block>
    <div class="app__container">
        <div class="cont__Picap">
            <img th:src="@{/img/HomePage-PetStore-12.jpg.webp}" alt="">
        </div>
        <!-- Star - danh sach san pham-->
        <div class="container">
            <div class="row gy-3" >
                <div class="col-4 " th:each="product: ${products}">
                    <div class="card shadow">
                        <a  th:href="@{/product/view/{id}(id=${product.id})}" style="text-decoration:none; color:black;">
                            <img style="height: 363px" th:src="${product.urlImageThumbnail}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                                <p class="card-text text-truncate " th:text="${product.description}"></p>
                                <h5 class="card-text text-danger m-1 product_price" th:text="${product.price}">  VNĐ</h5>
                                <tr sec:authorize="!hasAnyAuthority('USER','ADMIN')" th:remove="tag">
                                     <a th:if="${user == null}" th:href="@{/login}" class="btn btn-lg btn-dark" onclick="thongbao()">Thêm vào giỏ hàng</a>
                                    <script>
                                        function thongbao() {
                                        alert('Bạn cần đăng nhập hoặc đăng ký để thêm sản phẩm vào giỏ hàng.');
                                    }
                                    </script>
                                </tr>
                                <tr sec:authorize="hasAnyAuthority('USER','ADMIN')">
                                    <a th:href="@{/cart/add(id=${product.id},imageList=${product.urlImageThumbnail},name=${product.name},price=${product.price}, quantity=1)}"
                                       class="btn btn-lg btn-dark add-to-cart-button">Thêm vào giỏ hàng</a>
                                </tr>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End - danh sách sản phẩm đừng đụng đến nha đụng là đập-->
        <div class="cont__text">
            <span class="cont__text_vb">Nơi có những thứ mà thú cưng của bạn cần</span>
        </div>
        <div class="cont__Picap">
                <img th:src="@{/img/HomePage-PetStore-12.jpg.webp}" alt="">
        </div>
    </div>
<th:block th:replace="@{layout/layoutClient} :: footer"></th:block>
</div>
<script>
function addToCart() {
    alert("Vui lòng đăng ký tài khoản và đăng nhập để có thể thêm vào giỏ hàng và thanh toán.");
}
</script>
<script>
$(document).ready(function() {
  $('.add-to-cart-button').click(function(event) {
    event.preventDefault();

    var url = $(this).attr('href');
    var button = $(this);


    $.ajax({
      url: url,
      type: 'GET',
      success: function(response) {
        alert('Đã thêm thành công sản phẩm vào giỏ hàng!!');
        button.text('Thêm vào giỏ hàng');
      },
      error: function() {
        alert('Đã xảy ra lỗi khi thêm sản phẩm vào giỏ hàng.');
      }
    });
  });
});
</script>
<!--còn này là script chuyển đổi vnd của t đụng là đập-->
<script src="/js/toVND.js"></script>
<!--!!!-->
</body>
</html>