<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Levents</title>
    <th:block th:replace="@{layout/layoutClient} :: link-bootstrap"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-main-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-base-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-font-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-rob-css"></th:block>
</head>
<body class="app">
<th:block th:replace="@{layout/layoutClient} :: head_top"></th:block>
    <div class="app__container">
        <div class="cont__Picap">
        </div>
        <!-- Star - danh sach san pham-->
        <div class="container">
            <div class="row gy-3" >
                <div class="col-4 " th:each="product: ${products}">
                    <div class="card shadow">
                        <a  th:href="@{/product/view/{id}(id=${product.id})}" style="text-decoration:none; color:black;">
                            <img style="height: 363px" th:src="${product.urlImageThumbnail}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                                <p class="card-text text-truncate " th:text="${product.description}"></p>
                                <h5 class="card-text text-danger m-1 product_price" th:text="${product.price}">  VNĐ</h5>
                                <tr sec:authorize="!hasAnyAuthority('USER','ADMIN')" th:remove="tag">
                                     <a th:if="${user == null}" th:href="@{/login}" class="btn btn-lg btn-dark" onclick="thongbao()">Thêm vào giỏ hàng</a>
                                    <script>
                                        function thongbao() {
                                        alert('Bạn cần đăng nhập hoặc đăng ký để thêm sản phẩm vào giỏ hàng.');
                                    }
                                    </script>
                                </tr>
                                <tr sec:authorize="hasAnyAuthority('USER','ADMIN')">
                                    <a th:href="@{/cart/add(id=${product.id},imageList=${product.urlImageThumbnail},name=${product.name},price=${product.price}, quantity=1)}"
                                       class="btn btn-lg btn-dark">Thêm vào giỏ hàng</a>
                                </tr>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End - danh sách sản phẩm đừng đụng đến nha đụng là đập-->
        <div class="cont__text">
            <span class="cont__text_vb">Cách chúng tôi tạo ra 1 chiếc áo thun</span>
        </div>
        <div class="cont__Picap">
            <video autoplay loop muted>
                <source th:src="@{/img/low-20mb-test-.mp4}" type="video/mp4">
            </video>
        </div>
    </div>
<th:block th:replace="@{layout/layoutClient} :: footer"></th:block>
</div>
<script>
function addToCart() {
    alert("Vui lòng đăng ký tài khoản và đăng nhập để có thể thêm vào giỏ hàng và thanh toán.");
}
</script>
<!--còn này là script chuyển đổi vnd của t đụng là đập-->
<script src="/js/toVND.js"></script>
<!--!!!-->
</body>
</html>